<ion-tabs>
  <app-notifications-fab></app-notifications-fab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tables" href="/tabs/tables">
      <ion-icon aria-hidden="true" name="fast-food-outline"></ion-icon>
      <ion-label>Tables</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu" href="/tabs/menu">
      <ion-icon aria-hidden="true" name="document-text-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="admin" href="/tabs/admin">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
